:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

:host ::ng-deep z-sidebar a.active,
:host ::ng-deep z-sidebar-group a.active,
:host ::ng-deep z-sidebar.custom-sidebar a.active {
  background-color: hsl(222.2 47.4% 11.2%) !important;
  color: hsl(0 0% 100%) !important;
}

:host ::ng-deep z-sidebar a.active:hover,
:host ::ng-deep z-sidebar-group a.active:hover,
:host ::ng-deep z-sidebar.custom-sidebar a.active:hover {
  background-color: hsl(222.2 47.4% 11.2%) !important;
  color: hsl(0 0% 100%) !important;
}

:host ::ng-deep z-layout {
  height: 100vh;
  display: flex;
  gap: 1px;
}

:host ::ng-deep z-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep z-sidebar.custom-sidebar > aside {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  background: transparent !important;
}

:host ::ng-deep z-sidebar.custom-sidebar > aside > div.flex-1 {
  display: flex !important;
  flex-direction: column !important;
  min-height: 0;
  height: 100%;
}

:host ::ng-deep z-sidebar.custom-sidebar,
:host ::ng-deep z-sidebar.custom-sidebar *,
:host ::ng-deep z-sidebar.custom-sidebar aside {
  border: none !important;
}

:host ::ng-deep z-sidebar.custom-sidebar z-user-menu > div {
  border: 1px solid rgb(229 231 235) !important;
}

:host ::ng-deep z-header.custom-header,
:host ::ng-deep z-header.custom-header *,
:host ::ng-deep z-header.custom-header header {
  border: none !important;
}

:host ::ng-deep z-header.custom-header {
  border-bottom-left-radius: 0.5rem;
}

:host ::ng-deep z-header.custom-header header {
  border-bottom-left-radius: 0.5rem;
}

:host ::ng-deep z-content {
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
}

:host ::ng-deep z-content main {
  border-top-left-radius: 0.5rem;
}

:host ::ng-deep z-content main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

:host ::ng-deep z-content main > div {
  margin: 0;
  margin-right: auto;
}

:host ::ng-deep router-outlet + * {
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
