# ------------------------------
# Arquivos de ambiente e credenciais
# ------------------------------
.env
*.env
terraform.tfvars
*.tfvars

# ------------------------------
# Chaves privadas e certificados
# ------------------------------
*.pem
*.key
*.pub
*.crt

# ------------------------------
# Terraform
# ------------------------------
# Estado e backups
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.rc
terraform.tfvars
# Diretórios de cache
.terraform/
.terraform.lock.hcl

# ------------------------------
# Docker
# ------------------------------
# Volumes e dados persistentes
pg_data/
pgadmin_data/
docker-compose.override.yml

# ------------------------------
# Logs e temporários
# ------------------------------
*.log
*.tmp
*.swp
*.bak
*.pid

# ------------------------------
# Node.js / Angular
# ------------------------------
node_modules/
dist/
build/
.angular/

# ------------------------------
# Java / Maven / Gradle
# ------------------------------
target/
*.class
*.jar
*.war
*.ear

# ------------------------------
# C# / .NET
# ------------------------------
bin/
obj/
*.dll
*.exe

# ------------------------------
# IDEs e editores
# ------------------------------
.vscode/
.idea/
.cursor/
*.iml
*.suo
*.user
*.db
*.DS_Store
Thumbs.db

# ------------------------------
# Outros
# ------------------------------
docs/