version: "3.9"

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./infra/db/init:/docker-entrypoint-initdb.d
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
        ]
      interval: 10s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4:8.12
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}

    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  backend-java-core:
    build:
      context: /home/ubuntu/Desafio-Hackathon/Back-Java
      dockerfile: ../DevopsInfra/Dockerfile.java
    container_name: backend-java
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}
      XAI_API_KEY: ${XAI_API_KEY}
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env

 
  frontend-flutter:
    build:
      context: ../ 
      dockerfile: DevopsInfra/Dockerfile.flutter
    ports:
      - "4200:80"
    restart: unless-stopped

    
  frontend-angular:
    build:
      context: ../web-angular
      dockerfile: ./Dockerfile.angular
    container_name: frontend-angular
    restart: unless-stopped
    ports:
      - "4200:80"
    environment:
      API_JAVA_BASE_URL: http://backend-java-core:8080
      
    depends_on:
      - backend-java-core
     
volumes:
  pg_data:
  pgadmin_data:
  redis_data:

