.p-card {
  margin: 1rem;
}

.dashboard-container {
  padding: 1.5rem;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.p-card th {
  font-weight: normal;
  font-size: 20px;
}

.p-card td {
  padding: 20px;
  border-bottom: 1px solid #000;
}

.titulo-card {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}
.p-chart {
  height: 400px;
}

.filtro-tabela {
  width: 100%;
  font-size: 14px;
}
.p-column-filter {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
}

.graficos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  gap: 20px;
}
